* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 23, 42, 0.9);
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-left h2 {
  font-size: 22px;
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero-left p {
  margin-bottom: 25px;
}

.hero-right img {
  width: 320px;
  border-radius: 15px;
}

.button {
  padding: 12px 25px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

section {
  padding: 120px 80px;
}

section h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}
