* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 23, 42, 0.9);
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}
